* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  place-items: center;
  flex-direction: column;

}

.tile {
  border: 1px solid black;
  aspect-ratio: 1/1;
  font-size: 200%;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition: 0.1s ease;
}

.tile:hover {
  background-color: lightblue;
}

.tile-layout {
  display: grid;
  width: 500px;
  border: 5px solid black;
  border-radius: 10px;
}

p {
  height: 100%;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  opacity: 1;
}

.mine {
  background-color: black;
}

.active {
  background-color: gray;
}

.checked{
  background-color: gray;
}

.fade-in {
  animation: 0.5s ease fade-in;
  animation-fill-mode: forwards;
}

.test{
  color: black;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}