.container-board {
	z-index: 3;
	position: absolute;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-grid {
	display: grid;
	width: 500px;
	background-color: lightgray;
	border: 2.5px solid lightgray;
	border-radius: 6px;
	transition: all 0.15s ease;
	anchor-name: --container-grid;
}

.grid-tile {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1;
	background-color: white;
	border: 1px solid lightgray;
	font-size: 1.5em;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s ease;

	&:active {
		box-shadow: inset 0px 0px 5px gray;
		background-color: lightskyblue;
	}
}

.game-over {
	position: absolute;
	z-index: 3;
	display: none;
	place-items: center;
	position-anchor: --container-grid;
	left: anchor(left);
	top: anchor(top);
	width: anchor-size(width);
	height: anchor-size(height);
	background-color: rgba(211, 211, 211, 0.199);
	/* 

	.modal-message {

		z-index: 4;
		display: none;
		height: 50%;
		width: 50%;
		background-color: black;
		opacity: 0.5
		;

	} */
}

.mine {
	opacity: 0;
	position: absolute;
}

.gray {
	background-color: lightgray;
	cursor: unset;

	&:active {
		box-shadow: none;
		background-color: lightgray;
	}
}

.exploded {
	background-color: lightcoral;
	border-radius: none;
}

.misplaced {
	position: absolute;
	top: 0;
	right: 5%;
	font-size: 0.75em;
}

@media (max-width: 425px) {
	.container-grid {
		width: 300px;
	}

	.grid-tile {
		font-size: 1em;
	}
}
