.container-level-page {
	display: flex;
	flex-direction: column;
	align-items: center;
  z-index: 4;
	gap: 20px;
}

.container-level-page h2 {
	font-size: 3em;
  font-weight: 100;
	letter-spacing: 10px;
}

.button-level {
  width: 150px;
  margin: 10px;
	padding: 10px;
  border: 1px solid lightgray;
	border-radius: 15px;
  background-color: whitesmoke;

	font-size: 1.25em;
  font-weight: 300;
	letter-spacing: 7.5px;
  color: gray;
	
	cursor: pointer;
	transition: all 0.2s ease;
	&:hover {
		transform: scale(110%);
		background-color: lightgray;
		color: white;
	}

	&:active {
		opacity: 0.7;
	}
}
